.homePageContainer {
    max-width: 640px;
    margin-inline: auto;

    .title {
        color: #1677ff;
    }

  .tripAndPassengerInput {
    background-color: white;
    padding: 3px 24px;
    border-radius: 10px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      padding: 12px 24px;
    }

    .formItem {
      margin: 0;
    }
  }

  .formItem {
    width: 100%;
    flex: 1;

    @media screen and (max-width: 600px) {
      margin: 0;
    }
  }

  .formItem :global(.ant-form-item-control) {
    max-width: none;
  }

  .departureAndArrivalContainer {
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 8px !important;
    }
  }
}

.searchResultsContainer {
  max-width: 640px;
  margin-inline: auto;

  .title {
    color: #08979c;
    margin-bottom: 32px;
  }

  .descriptions {
    margin-bottom: 100px;
  }
}

.reviewBookingContainer {
  max-width: 640px;
  margin-inline: auto;

  .title {
    color: #1d39c4;
    margin-bottom: 32px;
  }

  .foodsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
    gap: 16px;
    margin-bottom: 24px;
  }
}

.offersCard {
  border: 2px dashed #f759ab;
  margin-bottom: 24px;

  h2 {
    color: #f759ab;
    margin-bottom: 24px;
  }

  p {
    margin: 0;
    font-weight: 500;
  }

  .offer1 {
    margin-bottom: 24px;
  }

  .icon {
    path {
      fill: #f759ab;
    }
  }
}

.promocodeCard, .extraBaggageCard {
  width: 100%;
}

.billDetailsCard {
  .totalCharge {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .discount {
    font-weight: 600;
  }
}